:root {
   --primary: rgba(255, 255, 255, 1);
   --secondary: rgba(0, 0, 0, 1);
   --icon-header: rgba(189, 189, 189, 1);
   --additionaly: rgba(26, 26, 26, 1);
   --header-hover: rgba(89, 89, 89, 1);
   --header-fixed: rgba(231, 231, 231, 1);
   --font-primary: 16px;
   --font-secondary: 14px;
   --font-title: 32px;
   --hedaer-height: 70px;
   --primary-text: PT Sans Narrow;
   --secondary-text: PT Sans;
   --uppercase: uppercase;
}

body, input, textarea, button {
   font-family: var(--primary-text);
   font-size: var(--font-primary);
}

body {
   background-image: url(/images/Studio.jpg);
   background-color: var(--secondary);
   background-repeat: no-repeat;
   background-size: 100%;
   font-weight: 700;
}

a {
   text-decoration: none;
}

ul {
   list-style: none;
   padding-left: 0;
}

/*--------------------HEADER-----------------------*/

.header {
   position: relative;
   width: 100%;
   color: var(--primary);
   background-color: var(--secondary);
   min-height: var(--hedaer-height);
   text-transform: var(--uppercase);
}

.header__container {
   display: flex;
   justify-content: space-between;
   max-width: 980px;
   box-sizing: border-box;
   padding: 0 40px;
   min-height: var(--hedaer-height);
   margin: 0 auto;
   align-items: center;
}

.menu {
   min-height: var(--hedaer-height);
}

.menu__list {
   min-height: var(--hedaer-height);
   display: flex;
   margin: 0;
}

.menu__item {
   min-height: var(--hedaer-height);
}

.menu__item-link {
   color: var(--primary);
   display: flex;
   align-items: center;
   justify-content: center;
   min-height: var(--hedaer-height);
   padding: 0 20px;
}

.menu__item-link:hover {
   background-color: var(--header-hover);
}

.menu__item-link:focus {
   outline: solid 4px var(--header-fixed);
   box-sizing: border-box;
}

.holder {
   display: flex;
   min-height: var(--hedaer-height);
}

.holder__button {
   padding: 0;
   border: none;
   color: var(--primary);
   background-color: transparent;
   display: flex;
   justify-content: center;
   align-items: center;
   min-width: 56px;
   font-weight: 700;
   text-transform: var(--uppercase);
}

.holder__button--last {
   min-width: 98px;
}

.holder__button:hover {
   cursor: pointer;
   background-color: var(--header-hover);
}

.holder__button:focus {
   outline: solid 4px var(--header-fixed);
   box-sizing: border-box;
}

.holder__icon-header {
   fill: var(--icon-header);
   width: 16px;
   height: 16px;
}

.holder__icon-header--last {
   margin-right: 9px;
}

/*--------------------MAIN-----------------------*/

.main__container {
   color: var(--primary);
   width: 940px;
   margin: 64px auto;
}

.logo {
   text-align: center;
}

.section-features {
   display: flex;
   margin-top: 64px;
}

.features {
   width: 277px;
   margin-right: 54.5px;
   text-align: center;
}

.features--last {
   margin-right: 0;
}

.features__title {
   font-size: var(--font-title);
   margin: 0;
   text-transform: var(--uppercase);
}

.features__icon {
   width: 16px;
   height: 16px;
   fill: var(--primary);
   margin-top: 19px;
}

.features__text {
   line-height: 24px;
   font-family: var(--secondary-text);
   font-weight: 400;
   margin: 19px 0 0 0;
}
