:root {
   --primary: rgba(255, 255, 255, 1);
   --secondary: rgba(0, 0, 0, 1);
   --additionaly: rgba(36, 36, 36, 1);
   --font-primary: 16px;
   --font-secondary: 14px;
   --font-additionaly: 20px;
   --font-title: 32px;
   --primary-text: PT Sans Narrow;
   --secondary-text: PT Sans;
   --uppercase: uppercase;
}

body, input, textarea, button {
   font-family: var(--primary-text);
   font-size: var(--font-primary);
}

body {
   background-image: url(/images/Studio.jpg);
   background-color: var(--secondary);
   background-repeat: no-repeat;
   background-size: 100%;
   font-weight: 700;
}

a {
   text-decoration: none;
}

ul {
   list-style: none;
   padding-left: 0;
}

.container {
   max-width: 940px;
   margin: 0 auto;
}

/*--------------------HEADER-----------------------*/

.header {
   position: relative;
   width: 100%;
   color: var(--primary);
   background-color: var(--secondary);
   height: 70px;
   text-transform: var(--uppercase);
}

.header__container {
   display: flex;
   justify-content: space-between;
   height: 100%;
   align-items: center;
}

.menu {
   height: 100%;
}

.menu__list {
   height: 100%;
   display: flex;
   margin: 0;
}

.menu__item {
   height: 100%;
}

.menu__item-link {
   color: var(--primary);
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100%;
   padding: 0 20px;
}

.menu__item-link:hover {
   background-color: var(--header-hover);
}

.menu__item-link:focus {
   outline: solid 4px rgba(231, 231, 231, 1);
   box-sizing: border-box;
}

.holder {
   display: flex;
   min-height: 100%;
}

.holder__button {
   padding: 0;
   border: none;
   color: var(--primary);
   background-color: transparent;
   display: flex;
   justify-content: center;
   align-items: center;
   min-width: 56px;
   font-weight: 700;
   text-transform: var(--uppercase);
}

.holder__button--last {
   min-width: 98px;
}

.holder__button:hover {
   cursor: pointer;
   background-color: rgba(89, 89, 89, 1);
}

.holder__button:focus {
   outline: solid 4px rgba(231, 231, 231, 1);
   box-sizing: border-box;
}

.holder__icon-header {
   fill: rgba(189, 189, 189, 1);
   width: 16px;
   height: 16px;
}

.holder__icon-header--last {
   margin-right: 9px;
}

/*--------------------MAIN-----------------------*/


/*--------------------MAIN-first-block-----------------------*/

.first-container {
   color: var(--primary);
   margin-top: 64px;
}

.logo {
   text-align: center;
}

.features-list {
   display: flex;
   margin-top: 64px;
}

.features {
   width: 277px;
   margin-right: 54.5px;
   text-align: center;
}

.features--last {
   margin-right: 0;
}

.features__title {
   font-size: var(--font-title);
   margin: 0;
   text-transform: var(--uppercase);
}

.features__icon {
   width: 16px;
   height: 16px;
   fill: var(--primary);
   margin-top: 19px;
}

.features__text {
   line-height: 24px;
   font-family: var(--secondary-text);
   font-weight: 400;
   margin: 19px 0 0 0;
}

/*--------------------MAIN-second-block-----------------------*/

.second-container {
   color: var(--additionaly);
   background-image: url(/images/bgs.jpg);
   display: flex;
   height: 409px;
   margin-top: 58px;
}

.benefits {
   width: 470px;
}

.benefits__title {
   font-size: var(--font-title);
}

.benefits__list {
   font-size: var(--additionaly);
}

.benefits__item {
   display: flex;
}

/*--------------------THIRD-second-block-----------------------*/

.third-container {
   color: var(--additionaly);
   background-image: url(/images/bgs.jpg);
   display: flex;
   height: 431px; 
   margin-top: 31px;
}

/*--------------------FOOTER-----------------------*/

.footer {
   width: 100%;
   color: var(--primary);
   background-image: url(/images/bgf.jpg);
   max-height: 242px;
}

.foooter__container {
   margin-top: 61px;
   display: flex;
   justify-content: space-between;
   max-height: 100%;
}


